:host {
    display: flex;
    margin: 20px;

    button {
        width: 100px;
        margin: 10px;
    }
}
.canvas_size {
    border: 1px dotted red;
}
.active_draw {
    background-color: red;
}
