@import "../../../variables";

:host {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header {
    padding: 10px;
    background: linear-gradient(to right, white, $primary-color);
}
